# MySQL
MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=mf_monitor
MYSQL_USER=mf_user
MYSQL_PASSWORD=mf_pass123

# App DB
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=mf_monitor
DB_USER=mf_user
DB_PASSWORD=mf_pass123

# MQTT
MQTT_BROKER_HOST=127.0.0.1
MQTT_BROKER_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC_TELEMETRY=mf/{device_id}/telemetry
MQTT_TOPIC_STATUS=mf/{device_id}/status
MQTT_TOPIC_COMMAND_REQ=mf/{device_id}/command/req
MQTT_TOPIC_COMMAND_RESP=mf/{device_id}/command/resp
