-- MySQL dump 10.13  Distrib 8.0.45, for Linux (x86_64)
--
-- Host: localhost    Database: mf_monitor
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
SET @MYSQLDUMP_TEMP_LOG_BIN = @@SESSION.SQL_LOG_BIN;
SET @@SESSION.SQL_LOG_BIN= 0;

--
-- GTID state at the beginning of the backup 
--

SET @@GLOBAL.GTID_PURGED=/*!80000 '+'*/ 'f078524c-2e78-11f1-b04c-fabfb2df1be8:1-14';

--
-- Current Database: `mf_monitor`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `mf_monitor` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `mf_monitor`;

--
-- Table structure for table `alarm_notifications`
--

DROP TABLE IF EXISTS `alarm_notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alarm_notifications` (
  `id` int NOT NULL AUTO_INCREMENT,
  `alarm_id` int NOT NULL,
  `channel_id` int NOT NULL,
  `channel_code` varchar(64) NOT NULL,
  `channel_type` enum('webhook') NOT NULL,
  `status` enum('pending','sent','failed') NOT NULL DEFAULT 'pending',
  `attempts` int NOT NULL,
  `last_error` varchar(500) DEFAULT NULL,
  `payload_json` json NOT NULL,
  `next_retry_at` datetime DEFAULT NULL,
  `last_attempt_at` datetime DEFAULT NULL,
  `sent_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT (now()),
  `updated_at` datetime NOT NULL DEFAULT (now()),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_alarm_channel_notification` (`alarm_id`,`channel_id`),
  KEY `ix_alarm_notifications_channel_code` (`channel_code`),
  KEY `ix_alarm_notifications_alarm_id` (`alarm_id`),
  KEY `ix_alarm_notifications_id` (`id`),
  KEY `ix_alarm_notifications_next_retry_at` (`next_retry_at`),
  KEY `ix_alarm_notifications_channel_type` (`channel_type`),
  KEY `ix_alarm_notifications_channel_id` (`channel_id`),
  KEY `ix_alarm_notifications_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alarm_notifications`
--

LOCK TABLES `alarm_notifications` WRITE;
/*!40000 ALTER TABLE `alarm_notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `alarm_notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alarm_rules`
--

DROP TABLE IF EXISTS `alarm_rules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alarm_rules` (
  `id` int NOT NULL AUTO_INCREMENT,
  `rule_code` varchar(64) NOT NULL,
  `name` varchar(100) NOT NULL,
  `event_type` enum('classification','speed','device_status') NOT NULL,
  `severity` enum('low','medium','high','critical') NOT NULL,
  `enabled` tinyint(1) NOT NULL DEFAULT '1',
  `cooldown_seconds` int NOT NULL,
  `condition_json` json NOT NULL,
  `created_at` datetime NOT NULL DEFAULT (now()),
  `updated_at` datetime NOT NULL DEFAULT (now()),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_alarm_rules_rule_code` (`rule_code`),
  KEY `ix_alarm_rules_enabled` (`enabled`),
  KEY `ix_alarm_rules_id` (`id`),
  KEY `ix_alarm_rules_event_type` (`event_type`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alarm_rules`
--

LOCK TABLES `alarm_rules` WRITE;
/*!40000 ALTER TABLE `alarm_rules` DISABLE KEYS */;
/*!40000 ALTER TABLE `alarm_rules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alarms`
--

DROP TABLE IF EXISTS `alarms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alarms` (
  `id` int NOT NULL AUTO_INCREMENT,
  `rule_code` varchar(64) NOT NULL,
  `event_type` enum('classification','speed','device_status') NOT NULL,
  `severity` enum('low','medium','high','critical') NOT NULL,
  `status` enum('open','ack','closed') NOT NULL DEFAULT 'open',
  `aibox_id` varchar(50) NOT NULL,
  `cam_id` varchar(50) NOT NULL,
  `source_ref` varchar(80) DEFAULT NULL,
  `trigger_value` json NOT NULL,
  `triggered_at` datetime NOT NULL,
  `recovered_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT (now()),
  `updated_at` datetime NOT NULL DEFAULT (now()),
  PRIMARY KEY (`id`),
  KEY `ix_alarms_severity` (`severity`),
  KEY `ix_alarms_source_ref` (`source_ref`),
  KEY `ix_alarms_rule_code` (`rule_code`),
  KEY `ix_alarms_status` (`status`),
  KEY `ix_alarms_id` (`id`),
  KEY `ix_alarms_aibox_id` (`aibox_id`),
  KEY `ix_alarms_event_type` (`event_type`),
  KEY `ix_alarms_triggered_at` (`triggered_at`),
  KEY `ix_alarms_recovered_at` (`recovered_at`),
  KEY `ix_alarms_cam_id` (`cam_id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alarms`
--

LOCK TABLES `alarms` WRITE;
/*!40000 ALTER TABLE `alarms` DISABLE KEYS */;
/*!40000 ALTER TABLE `alarms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `request_id` varchar(64) NOT NULL,
  `actor_type` varchar(32) NOT NULL,
  `actor_id` varchar(128) NOT NULL,
  `action` varchar(64) NOT NULL,
  `outcome` varchar(16) NOT NULL,
  `entity_type` varchar(64) DEFAULT NULL,
  `entity_id` varchar(64) DEFAULT NULL,
  `path` varchar(255) NOT NULL,
  `method` varchar(16) NOT NULL,
  `status_code` int DEFAULT NULL,
  `client_ip` varchar(64) DEFAULT NULL,
  `detail_json` json DEFAULT NULL,
  `before_json` json DEFAULT NULL,
  `after_json` json DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT (now()),
  PRIMARY KEY (`id`),
  KEY `ix_audit_logs_status_code` (`status_code`),
  KEY `ix_audit_logs_actor_id` (`actor_id`),
  KEY `ix_audit_logs_entity_id` (`entity_id`),
  KEY `ix_audit_logs_request_id` (`request_id`),
  KEY `ix_audit_logs_action` (`action`),
  KEY `ix_audit_logs_id` (`id`),
  KEY `ix_audit_logs_path` (`path`),
  KEY `ix_audit_logs_outcome` (`outcome`),
  KEY `ix_audit_logs_actor_type` (`actor_type`),
  KEY `ix_audit_logs_method` (`method`),
  KEY `ix_audit_logs_created_at` (`created_at`),
  KEY `ix_audit_logs_entity_type` (`entity_type`)
) ENGINE=InnoDB AUTO_INCREMENT=436 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `device_location`
--

DROP TABLE IF EXISTS `device_location`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `device_location` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `aibox_id` varchar(50) NOT NULL,
  `cam_id` varchar(50) NOT NULL,
  `location` varchar(200) NOT NULL,
  `latitude` decimal(10,7) NOT NULL,
  `longitude` decimal(10,7) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_device_location` (`aibox_id`,`cam_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `device_location`
--

LOCK TABLES `device_location` WRITE;
/*!40000 ALTER TABLE `device_location` DISABLE KEYS */;
INSERT INTO `device_location` VALUES (1,'MF001','CAM001','æµ‹è¯•ç‚¹A',34.0500000,118.0500000,'2026-04-02 09:47:34','2026-04-02 09:47:34');
/*!40000 ALTER TABLE `device_location` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `device_status`
--

DROP TABLE IF EXISTS `device_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `device_status` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `aibox_id` varchar(50) NOT NULL,
  `cam_id` varchar(50) NOT NULL,
  `online_status` enum('on','off') NOT NULL,
  `last_update` datetime NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_device_status` (`aibox_id`,`cam_id`),
  KEY `idx_status_update` (`last_update`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `device_status`
--

LOCK TABLES `device_status` WRITE;
/*!40000 ALTER TABLE `device_status` DISABLE KEYS */;
INSERT INTO `device_status` VALUES (1,'MF001','CAM001','off','2026-04-07 13:13:10','2026-04-02 09:47:34','2026-04-07 05:13:10'),(2,'P1TEST_132419','CAM_132419','off','2026-04-07 13:24:19','2026-04-07 05:24:19','2026-04-07 05:24:19'),(3,'P1TEST_133538','CAM_133538','off','2026-04-07 13:35:38','2026-04-07 05:35:38','2026-04-07 05:35:38');
/*!40000 ALTER TABLE `device_status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `disaster_data`
--

DROP TABLE IF EXISTS `disaster_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `disaster_data` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `disaster_id` varchar(50) NOT NULL,
  `aibox_id` varchar(50) NOT NULL,
  `cam_id` varchar(50) NOT NULL,
  `disaster_type` enum('flood','mudslide') NOT NULL,
  `timestamp` datetime NOT NULL,
  `confidence` decimal(5,4) NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_disaster_time` (`timestamp`),
  KEY `idx_disaster_device_time` (`aibox_id`,`cam_id`,`timestamp`),
  KEY `idx_disaster_aibox_time` (`aibox_id`,`timestamp`),
  KEY `idx_disaster_id` (`disaster_id`)
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `disaster_data`
--

LOCK TABLES `disaster_data` WRITE;
/*!40000 ALTER TABLE `disaster_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `disaster_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `disaster_data_archive`
--

DROP TABLE IF EXISTS `disaster_data_archive`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `disaster_data_archive` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `disaster_id` varchar(50) NOT NULL,
  `aibox_id` varchar(50) NOT NULL,
  `cam_id` varchar(50) NOT NULL,
  `disaster_type` enum('flood','mudslide') NOT NULL,
  `timestamp` datetime NOT NULL,
  `confidence` decimal(5,4) NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `archived_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_disaster_time` (`timestamp`),
  KEY `idx_disaster_device_time` (`aibox_id`,`cam_id`,`timestamp`),
  KEY `idx_disaster_aibox_time` (`aibox_id`,`timestamp`),
  KEY `idx_disaster_id` (`disaster_id`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `disaster_data_archive`
--

LOCK TABLES `disaster_data_archive` WRITE;
/*!40000 ALTER TABLE `disaster_data_archive` DISABLE KEYS */;
/*!40000 ALTER TABLE `disaster_data_archive` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification_channels`
--

DROP TABLE IF EXISTS `notification_channels`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification_channels` (
  `id` int NOT NULL AUTO_INCREMENT,
  `channel_code` varchar(64) NOT NULL,
  `name` varchar(100) NOT NULL,
  `channel_type` enum('webhook') NOT NULL,
  `enabled` tinyint(1) NOT NULL DEFAULT '0',
  `retry_max` int NOT NULL,
  `retry_interval_seconds` int NOT NULL,
  `timeout_seconds` int NOT NULL,
  `config_json` json NOT NULL,
  `created_at` datetime NOT NULL DEFAULT (now()),
  `updated_at` datetime NOT NULL DEFAULT (now()),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_notification_channels_channel_code` (`channel_code`),
  KEY `ix_notification_channels_channel_type` (`channel_type`),
  KEY `ix_notification_channels_id` (`id`),
  KEY `ix_notification_channels_enabled` (`enabled`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification_channels`
--

LOCK TABLES `notification_channels` WRITE;
/*!40000 ALTER TABLE `notification_channels` DISABLE KEYS */;
INSERT INTO `notification_channels` VALUES (1,'default_webhook','Default Webhook (disabled)','webhook',0,3,30,5,'{\"url\": \"\", \"headers\": {}}','2026-04-07 06:06:36','2026-04-07 06:06:36'),(2,'p1_webhook_163103','P1-2 webhook channel 163103','webhook',0,3,2,2,'{\"url\": \"http://127.0.0.1:18753/notify\", \"headers\": {\"X-P1-2\": \"verify\"}}','2026-04-07 08:31:04','2026-04-07 08:31:44'),(3,'p1_webhook_163848','P1-2 webhook channel 163848','webhook',0,3,2,2,'{\"url\": \"http://127.0.0.1:18816/notify\", \"headers\": {\"X-P1-2\": \"verify\"}}','2026-04-07 08:38:48','2026-04-07 08:38:52');
/*!40000 ALTER TABLE `notification_channels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `speed_data`
--

DROP TABLE IF EXISTS `speed_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `speed_data` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `aibox_id` varchar(50) NOT NULL,
  `cam_id` varchar(50) NOT NULL,
  `disaster_type` enum('flood','mudslide') NOT NULL,
  `timestamp` datetime NOT NULL,
  `speed` json NOT NULL COMMENT 'æµé€Ÿå‘é‡æ•°ç»„',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_speed_time` (`timestamp`),
  KEY `idx_speed_device_time` (`aibox_id`,`cam_id`,`timestamp`),
  KEY `idx_speed_aibox_time` (`aibox_id`,`timestamp`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `speed_data`
--

LOCK TABLES `speed_data` WRITE;
/*!40000 ALTER TABLE `speed_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `speed_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `speed_data_archive`
--

DROP TABLE IF EXISTS `speed_data_archive`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `speed_data_archive` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `aibox_id` varchar(50) NOT NULL,
  `cam_id` varchar(50) NOT NULL,
  `disaster_type` enum('flood','mudslide') NOT NULL,
  `timestamp` datetime NOT NULL,
  `speed` json NOT NULL COMMENT 'æµé€Ÿå‘é‡æ•°ç»„',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `archived_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_speed_time` (`timestamp`),
  KEY `idx_speed_device_time` (`aibox_id`,`cam_id`,`timestamp`),
  KEY `idx_speed_aibox_time` (`aibox_id`,`timestamp`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `speed_data_archive`
--

LOCK TABLES `speed_data_archive` WRITE;
/*!40000 ALTER TABLE `speed_data_archive` DISABLE KEYS */;
/*!40000 ALTER TABLE `speed_data_archive` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'mf_monitor'
--

--
-- Dumping routines for database 'mf_monitor'
--
SET @@SESSION.SQL_LOG_BIN = @MYSQLDUMP_TEMP_LOG_BIN;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-08  8:26:01
