aibox_id={{AIBOX_ID}}
cam_id={{CAM_ID}}
video_source={{VIDEO_SOURCE}}
engine_path={{ENGINE_PATH}}
mqtt_host={{MQTT_HOST}}
mqtt_port={{MQTT_PORT}}
confidence_threshold=0.80
stable_window=3
cooldown_sec=10
status_interval_sec=10
class_names=flood,mudslide
snapshot_dir=../runtime/snapshots
log_dir=../runtime/logs
rtsp_reconnect_sec=3
mqtt_reconnect_sec=3
evidence_upload_enabled=true
evidence_upload_url={{EVIDENCE_UPLOAD_URL}}
evidence_upload_api_key={{EVIDENCE_UPLOAD_API_KEY}}
evidence_upload_timeout_sec=15
