global
    log stdout format raw local0
    maxconn 4096

defaults
    mode tcp
    log global
    option tcplog
    timeout connect 5s
    timeout client 2m
    timeout server 2m
    retries 3

frontend mqtt_tcp
    bind *:1883
    default_backend mqtt_tcp_nodes

backend mqtt_tcp_nodes
    option tcp-check
    tcp-check connect port 1883
    server mqtt_primary mqtt_primary:1883 check inter 2s fall 2 rise 1
    server mqtt_secondary mqtt_secondary:1883 check inter 2s fall 2 rise 1 backup

frontend mqtt_ws
    bind *:9001
    default_backend mqtt_ws_nodes

backend mqtt_ws_nodes
    option tcp-check
    tcp-check connect port 9001
    server mqtt_primary_ws mqtt_primary:9001 check inter 2s fall 2 rise 1
    server mqtt_secondary_ws mqtt_secondary:9001 check inter 2s fall 2 rise 1 backup

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 5s
